<h1><%= @chores_board.name %></h1>
<%= link_to "Edit", edit_chores_board_path(@chores_board), class: "ui orange button" %>
<%= link_to "Delete", @chores_board, method: :delete, class: "ui red button" %>
